@charset "ISO-8859-1";

body {
	background-image: url("/images/back1.jpg");
	background-repeat: repeat;
	background-position: fit;
	font-family: Candara, sans-serif; 
	margin: 0;
	padding: 0;
}

.container {
    max-width: 800px;
    margin: 3em auto; 
    padding: 20px;
    text-align: center;
	border-radius: 10px; 
    background-color: #494D5F; 
}


h1 {
	color: #22b2da;
	font-size: 35px;
}

p {
	color: #f8e7e7;
	margin-bottom: 20px;
	font-size: 15px;
	font-weight: bold;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #22b2da;
	color: #f8e7e7;
	text-decoration: none;
	border-radius: 50px;
	margin: 10px;
	transition: background-color 0.3s;
	font-weight: bold;
}

.btn:hover {
	background-color: #2772db;
}

img {
	max-width: 500px; 
	width: 100%; 
	height: auto; 
}

.navbar {
    position: fixed; /* Fixed position to stay at the top */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #494D5F;
    padding: 10px 20px; /* Add padding for better appearance */
    z-index: 1000; /* Ensure the navbar stays above other elements */
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Align items to the edges */
}

.navbar-brand {
    color: white;
    font-family: Candara, sans-serif; /* Specify font family */
    font-weight: bold;
    font-size: 24px; /* Adjust font size */
}

.navbar-nav {
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Align items to the center */
    list-style-type: none; /* Remove default list style */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
 	
}

.nav-item {
    margin-left: 20px; /* Add space between nav items */
}

.nav-link {
    color: white;
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Adjust font size */
    font-weight: bold;
    transition: color 0.3s; /* Smooth transition for color change */
}

.nav-link:hover {
    color: #22b2da; /* Change color on hover */
}



	