<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayNexus - Elevate your Inner Game</title>
    <link rel="stylesheet" href="/css/index.css"> <!-- Note: removed th:href since it seems unnecessary for a static HTML file -->
</head>
<body>
    <div class="container">
        <h1>PlayNexus - Elevate your Inner Game</h1>
        <img src="/images/logo.jpg" alt="img">
        <br>
        <p>Welcome to PlayNexus, your ultimate destination for the latest and greatest game CDs! Dive into a world of excitement and adventure with our vast collection of game titles from all genres.</p>
        <p>Whether you're a seasoned gamer looking for your next challenge or a casual player seeking some fun, PlayNexus has something for everyone. Explore our catalog, discover new releases, and embark on unforgettable gaming experiences.</p>
        <p>Ready to join the adventure? Log in to your account or sign up today to start building your game collection and unlocking exclusive rewards. Let the gaming begin!</p>
        <a href="login" class="btn">Log In</a>
        <a href="register" class="btn">Sign Up</a>
    </div>
</body>
</html>
